:root {
    --header-primary: #2C3E50;      
    --header-secondary: #3E5C73;         
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-gradient {
    background: linear-gradient(135deg, var(--header-primary) 0%, var(--header-secondary) 100%);
    color: #ffffff;
}

.footer {
    margin-top: auto;
}

.title {
    font-family: 'SUSE', sans-serif;
}
