html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-primary {
    background-color: #005f73 !important;
    border-color: #005f73 !important;
}

.btn-secondary {
    background-color: #c47c17 !important;
    border-color: #c47c17 !important;
}

.btn-success {
    background-color: #02900a !important;
    border-color: #02900a !important;
}

.btn-warning {
    background-color: #ee9b00 !important;
    border-color: #ee9b00 !important;
}

.btn-danger {
    background-color: #9d0208 !important;
    border-color: #9d0208 !important;
}


.item-primary {
    color: #005f73 !important;
}

.item-secondary {
    color: #c47c17 !important;
}

.item-success {
    color: #02900a !important;
}

.item-warning {
    color: #ee9b00 !important;
}

.item-danger {
    color: #9d0208 !important;
}
